* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* navbar */
nav {
  display: flex;
  background-color: black;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav h1 {
  padding-top: 15px;
  padding-left: 30px;
  font-size: 30px;
}
.nav {
  display: flex;
  width: 400px;
}
h3 {
  padding: 20px;
  border-radius: 15px;
}
h3:hover {
  background-color: red;
}
a {
  color: white;
}

/* banner */
.banner {
  display: flex;
  height: 95vh;
  background-size: cover;
  background-position: center;
}
.banner h1 {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 50px;
  margin: auto;
  border: 1px solid;
  border-radius: 30px;
  background-color:rgba(0, 0, 0, 0.63);
}
.banner i {
  margin-left: 120px;
}
.frozen {
  background-image: url(./gambar/1.jpg);
}
.panda{
  background-image: url(./gambar/11.jpg);
}
.masha{
  background-image: url(./gambar/14.jpg);
}
.lion{
  background-image: url(./gambar/6.jpg);
}
.toy{
  background-image: url(./gambar/a.jpg);
}
.onward{
  background-image: url(./gambar/c.jpg);
}
.dory{
  background-image: url(./gambar/d.jpg);
}
.brave{
  background-image: url(./gambar/e.jpg);
}
.tangled{
  background-image: url(./gambar/f.jpg);
}
.peterpan{
  background-image: url(./gambar/g.jpg);
}
.monster{
  background-image: url(./gambar/h.jpg);
}
.hercules{
  background-image: url(./gambar/i.jpg);
}
.mcquenn{
  background-image: url(./gambar/j.jpg);
}
.jungle{
  background-image: url(./gambar/k.jpg);
}
.shaun{
  background-image: url(./gambar/15.jpg);
}
/* deskripsi */
.deskripsi {
  padding: 30px;
}

/* trailer */
.trailer {
  padding: 30px;
}
iframe {
  margin-top: 20px;
  width: 100%;
  height: 85vh;
}

/* filmlain */
.filmlain {
  padding: 30px;
}
.box {
  display: flex;
  justify-content: space-between;
}
.box img {
  height: 360px;
  width: 260px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.473);
}
.box img:hover {
  transform: translateY(-5%);
  transition: 0.7s;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  background-color: white;
  color: black;
}